@model IEnumerable<Cheapware.WebApp.Models.Inventorys>



<div class="container">
    <h2 class="h2">Inventory</h2>
    <div class="panel panel-primary">
         @foreach (var item in Model)
          {
        <div class="container-fluid panel-body">
            <div class="info top">
                <h4 class="h4" style="display:inline-block;">@Html.DisplayNameFor(model => item.Price):</h4>
                &nbsp;<h4 class="h4" style="display:inline-block;">$@Html.DisplayFor(model => item.Price)</h4>
                <br />
                <h4 class="h4" style="display:inline-block;">@Html.DisplayNameFor(model => item.Category):</h4>
                <h4 class="h4" style="display:inline-block;">@Html.DisplayFor(model => item.Category)</h4>
            </div>
            <a asp-action="Details" asp-controller="@(@item.Category + "s")" asp-route-name="@item.Name"><img class="img-responsive center-block" style="width:25%;height:25%;" src="@("https://cheapwareimages.blob.core.windows.net/images/" + item.Image)" /></a>
            <a asp-action="Details" asp-controller="@(@item.Category + "s")" asp-route-name="@item.Name"><h3 class="h3" style="text-align:center;">@Html.DisplayFor(model => item.Name)</h3></a>

            <hr />
        </div>
          }
    </div>
</div>



