@model Cheapware.WebApp.Models.MotherBoards

@{
    ViewData["Title"] = "Details";

}


<div class="container" style="padding:15px !important;">
    <div class="panel panel-primary" style="margin:5px;">
        <div class="container-fluid" style="padding: 15px !important;">
            <img class="img-responsive left" style="width:25%;" src="@("https://cheapwareimages.blob.core.windows.net/images/" + Model.Image)" />
            <h3 class="h3">@Html.DisplayFor(model => model.Name)</h3>
        </div>

        <div class="panel-heading">
            <h4 class="h4">Product Specs</h4>
            <hr />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.FormFactor)
            :&nbsp;
            @Html.DisplayFor(model => model.FormFactor)
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Ramslots)
            :&nbsp;
            @Html.DisplayFor(model => model.Ramslots)
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Pcislots)
            :&nbsp;
            @Html.DisplayFor(model => model.Pcislots)
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Price)
            :&nbsp;
            $@Html.DisplayFor(model => model.Price)
            <br />


        </div>
        <div class="panel-body">
            <a asp-action="AddToCart" asp-controller="Cart" style="display:inline-block !important" class="btn btn-info">Add to Cart</a>
            
            <a asp-action="Index" asp-controller="Inventorys" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>

